* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   font-size: 100%;
// }

body {
  color: #f39c12;
  font-family: "RocknRoll One", sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;

  & h1 {
    font-size: 3rem;
  }
}

.row {
  position: absolute;
  border: 6px double rgb(219, 219, 219);
  width: 50vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.game {
  height: 100vh;
  background-image: url("../images/black-texture.jpg");
  background-size: cover;
}

.score {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & h2 {
    font-size: 2rem;
  }

  & p {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
  }
}

.match {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0 55px 0;
}
.hands {
  display: flex;
  font-size: 10rem;
  justify-content: space-between;
  padding: 1.2rem;
  color: #bdc3c7;
}

.player-hand {
  transform: rotate(90deg);
}
.computer-hand {
  transform: rotate(-90deg);
}

.options {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  margin: auto;
}

button {
  width: 6rem;
  height: 2.6rem;
  border-radius: 3px;
  background: #f39c12;
  border: none;
  font-size: 1.2rem;
  margin: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-family: "RocknRoll One", sans-serif;
}

button:active {
  background-color: #b16f06;
  box-shadow: 0 2px rgb(0, 20, 39);
  transform: translateY(4px);
}
.options button {
  transition: opacity 0.5s, visibility 0.5s;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.active {
  background-color: #b16f06;
  opacity: 0.7;
}

.game-mode {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.game-mode button {
  width: 8rem;
  height: 1.5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 780px) {
  html {
    font-size: 12px;
  }

  .row {
    position: relative;
    border: 6px double rgb(219, 219, 219);
    width: 100vw;
    height: 84vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    height: 8vh;

    & h1 {
      font-size: 2rem;
    }
  }
}
