body {
  font-size: 40px;
  color: black;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 40px auto;
}

.btn {
  position: relative;
  left: 50%;
  transform: translate(-180%);
  margin-right: 40px;
  border: 2px solid black;
  width: 150px;
  height: 150px;
  border-radius: 500px;
  font-size: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}

.messages {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  line-height: 1.5;
}

.rock {
  background: #9aaacc;
}

.paper {
  background: whitesmoke;
}

.scissors {
  background: #dfe4ea;
}
